<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safouen.commerceparisien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activites.Accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.Connexion" />
        <activity android:name=".activites.AccueilUser" />
        <activity android:name=".activites.Offres" />
        <activity android:name=".activites.Ajout" />
        <activity android:name=".activites.MesAnnonces" />
        <activity android:name=".activites.Recherche" />
        <activity android:name=".activites.Inscription" />
        <activity android:name=".activites.DetailAnnonce" />
        <activity android:name=".activites.AdapterAnnonces"></activity>
    </application>

</manifest>
